<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#note">Note</a></li>
  <li><a data-toggle="tab" href="#edit_task">Edit Task</a></li>
</ul>
.tab-content
  .tab-pane.fade.in.active#note
    = simple_format task.note
  .tab-pane.fade#edit_task
    = render 'user/tasks/form', task: task