<a class="js-task-day-note">
  <img src="<%= image_url("icon/blank.png") %>" width=30 height=30
    style="width: 100%; height: 100%" data-placement="top" data-trigger="click"
    data-html="true" data-toggle="popover" data-content='<%= render "user/dash_board/day_popover_modal", task: task, day: day %>'>
</a>
