.mg-5 {
  margin: 5px;
}

.hide {
  display: none;
}

.field-with-errors input {
  border: 1px solid red !important;
}

.error-msg {
  color: red;
}

.mr-5 {
  margin-right: 5px;
}

body {
  background-color: lightgray;
}

.btn {
  margin: 0px 5px 0px 5px;
}

.tab-content {
  text-align: left !important;
  padding: 20px 0px 20px 0px;
}
