.mg-5 {
  margin: 5px;
}

.hide {
  display: none;
}

.field-with-errors input {
  border: 1px solid red !important;
}

.error-msg {
  color: red;
}

.mr-5 {
  margin-right: 5px;
}

body {
  background-color: lightgray;
}

.btn {
  margin: 0px 5px 0px 5px;
}

.tab-content {
  text-align: left !important;
  padding: 20px 0px 20px 0px;
}

.dashboard-add-task {
  font-size: 12px !important;
  color: black;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 5px;
}

.icon-btn {
  font-size: 18px !important;
  padding: 0px 5px 0px 5px;
}

