table.tbl {
  td {
    border: 1px solid whitesmoke;
    padding: 5px;
    height: 32px;
    min-width: 20px;
  }

  td.header-project {
    height: 65px !important;
    font-size: 16px;
  }

  input {
    border: 0px;
    height: 20px;
    padding: 0px;
  }
}

.success {
  background-color: #33cc33;
}

.danger {
  background-color: #ff471a;
}

.warning {
  background-color: #ffff33;
}

.closed {
  background-color: #8f9ca3;
}
