.dashboard_container {
  width: 100%;
  display: flex;
}

.tr-project-name {
  background-color: lightyellow;
  height: 60px;
}

.tr-dates {
  background-color: aquamarine;
  height: 60px;
}

.td-month-1, .td-month-3, .td-month-5, .td-month-7, .td-month-9, .td-month-11 {
  background-color: lightskyblue;
}

.td-month-2, .td-month-4, .td-month-6, .td-month-8, .td-month-10, .td-month-12 {
  background-color: lightsalmon;
}

#info {
  width: 170px;
  overflow-x: hidden;

  tr.title {
    background-color: lightgray;
  }

  td, th {
    width: 70px;
    height: 40px;
    text-align: left;
  }
}
#details {
  width: calc(100% - 170px);
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;

  .tr-stattistic {
    width: 49px;
  }

  .tooltip-inner {
    white-space: pre-wrap;
  }
  .reservation {
    position: relative;
    border-color: white;
    .info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      color: white;
      font-weight: bold;
    }
    .tooltiptext {
      visibility: hidden;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 5px 10px;
      position: fixed;
      z-index: 99;
      top: 50px;
      left: 50%;
      width: max-content;
      border: solid 1px #bbbaba;
      p {
        text-align: left;
      }
    }
  }

  td, th {
    width: 70px;
    height: 40px;
    text-align: center;
  }
}

td.header-project {
  min-width: 50px !important;
  height: 60px;
  background-color: lightyellow !important;
}

.weekend {
  background-color: red !important;
}

.tr-task {
  .td {
    padding-left: 5px;
    text-align: left !important;
  }
}

.tr-sub-task {
  .td {
    padding-left: 10px;
    text-align: left !important;
  }
}

.tr-activity {
  .td {
    padding-left: 15px;
    text-align: left !important;
  }
}
