.dashboard_container {
  width: 100%;
  display: flex;
}

.tr-project-name {
  background-color: lightyellow;
  // height: 60px;
}

td.target {
  background-color: lightsteelblue !important;
}

td.actual {
  background-color: aquamarine !important;
}

.td-date {
  background-color: aquamarine;
  // height: 60px;
}

.td-month-1, .td-month-3, .td-month-5, .td-month-7, .td-month-9, .td-month-11 {
  background-color: lightskyblue;
}

.td-month-2, .td-month-4, .td-month-6, .td-month-8, .td-month-10, .td-month-12 {
  background-color: lightsalmon;
}

#info {
  width: 170px;
  overflow-x: hidden;

  tr.title {
    background-color: lightgray;
  }

  td, th {
    width: 70px;
    // height: 39px;
    text-align: left;
  }
}
#details {
  width: calc(100% - 170px);
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;

  .tr-stattistic {
    // width: 49px;
    // height: 30px;
  }

  .tooltip-inner {
    white-space: pre-wrap;
  }

  td, th {
    // width: 70px;
    // height: 40px;
    text-align: center;
  }
}

td.header-project {
  min-width: 50px !important;
  // height: 60px;
  background-color: lightyellow !important;
}

.weekend {
  background-color: red !important;
}

.tr-task {
  // height: 30px;
  
  background-color: #ffbb33;
  .td {
    span {
      padding-left: 5px;
      text-align: left !important;
    }
  }
}

.tr-sub-task {
  background-color: #ffdd99;
  .title-subtask {
    padding-left: 10px;
    text-align: left !important;
  }
}

.tr-activity {
  background-color:  #ffeecc;
  .title-activity {
    padding-left: 20px;
    text-align: left !important;
  }
}

.intable-form {
  max-width: 100px;
  input {
    max-width: 50px;
  }
  select {
    max-width: 100px;
  }
}
